.card {
    margin: 2rem 2rem 2rem .75rem;
    padding: 1.5rem;
    width: 200px;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.2);
    transition: transform .3s ease;
    cursor: pointer;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: lightblue;
}

.card:hover {
    transform: scale(1.1);
}

.card__title {
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    padding-bottom:1rem;
    text-align: center;
}

.card_body{
    font-weight: 10;
}
#totalUser{
    text-align: center;
}