@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: "Ubuntu-Bold", sans-serif;
    
}

h3 {
    text-align: center;
    color: whitesmoke;
}

label {
    font-size: 100px;
    margin-bottom: 10px;
    color: white;
}

input {
    width: 100%;
    padding: 19px;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 10px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 2px solid snow;
    background: rgb(239, 205, 255);
    background: linear-gradient(90deg, rgba(239, 205, 255, 1) 14%, rgba(149, 148, 233, 1) 80%);
    /* background-color:rgb(103, 191, 191); */
    padding: 35px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 9px;
}

.register-form:hover {
    /* box-shadow: 0 0 0 1px rgba(53,72,91,.04), 0 2px 2px rgba(0,0,0,0), 0 4px 4px rgba(0,0,0,.01), 0 10px 8px rgba(0,0,0,.02), 0 15px 15px rgba(0,0,0,.02), 0 30px 30px rgba(0,0,0,.02), 0 70px 65px rgba(0,0,0,.03); */
    box-shadow: rgba(0, 0, 0, 0.1) 5px 20px 35px;
}